<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/">
      <h2>Enter your phrase: <input type="text" name="user_phrase" value=""></h2>
      <br>
      <input id="submit" type="submit" name="" value="submit">

    </form>
  </body>
</html>
